
@model System.Collections.Generic.List<BugSquash.Models.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>

@if (!Model.Any())
{
    <p>You have not created any tickets yet.</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayName("Ticket")</th>
            <th>@Html.DisplayName("Description")</th>
            <th>@Html.DisplayName("Type")</th>
            <th>@Html.DisplayName("Status")</th>
            <th>@Html.DisplayName("Priority")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
        <tr>
            <td>@Html.ActionLink(ticket.Name, "Edit", "Tickets", new { id = ticket.Id }, null)</td>
            <td>@Html.DisplayFor(modelItem => ticket.Description)</td>
            <td>@Html.DisplayFor(modelItem => ticket.TicketType)</td>
            <td>@Html.DisplayFor(modelItem => ticket.TicketStatus)</td>
            <td>@Html.DisplayFor(modelItem => ticket.TicketPriority)</td>
        </tr>
        }
    </tbody>
</table>
}